*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "playfair display", sans-serif;
}
header{
    position: sticky;
}

nav{
    padding: 20px 40px 20px 40px;
    background-color: cornflowerblue;
    color: white;
   
}
nav div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
ul{
    display: flex;
    list-style: none;

}
li a{
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: 600;
    
    
}
nav a:hover{
    color: red;
    background-color: yellow;
    
}
nav li:last-child a{
    background-color: red;
    padding: 6px 12px;
    border-radius: 5px;

}
nav li:last-child a:hover{
    background: red;
    color: yellow;

}
nav a.active{
    color: red;
    font-weight: bold;
    border-bottom: 2px solid red;
}

.auth-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(135deg, #000, #1c1c1c); */
    background-image: url(/images/FastFood.jpg);
}

.auth-box{
    background: white;
    padding: 40px;
    border-radius: 10px;
    width: 320px;
    text-align: center;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}

.auth-box h2{
    margin-bottom: 20px;
    color: black;
}

.auth-box input{
    width: 100%;
    padding: 10px;
    /* margin: 10px 0px; */
    /* border: 1px solid #ddd; */
    outline: none;
    border-radius: 10px;
}

.auth-box input:focus{
    border-color: red;
}

.auth-box button{
    width: 100%;
    padding: 10px;
    background: red;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

.auth-box button:hover{
    background-color: black;
    color: aqua;
}

.auth-box a{
    color: orange;
}

.auth-box p{
    margin-top: 15px;
    font-size: 14px;
}